doctype html 
html 
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0") 
      //- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src '*' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net">
      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      link(rel="stylesheet" href="/css/style.css")
      link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
      title Natours | #{title}

  body 
    // HEADER
    include _header
    

    // OVERVIEW
    block content 
      h1 THIS IS A PLACEHOLDER

    // FOOTER
    include _footer

    //- script(src='/js/mapbox.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='/js/login.js')
